<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DLDB2" connectionString="Server=localhost\SQLEXPRESS;Integrated Security=False;User ID=dlservice;Password=XXXX;Database=XXXX"/>
  </connectionStrings>
  <appSettings>
    <add key="ErrorFolder" value="L:\www\DLService"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Default" name="DomainLoggingService.DomainLoggingService">
        <endpoint address="" binding="basicHttpBinding" contract="DomainLoggingService.IDomainLoggingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://dlservice:6970/DomainLoggingService.svc" />
          </baseAddresses>
        </host>
      </service>
      <!--Enable Windows Authentication on IIS!!-->
      <service behaviorConfiguration="SecureBinding" name="DomainLoggingService.AdminService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="transportSecurityConfiguration" contract="DomainLoggingService.IAdminService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://dlservice:6970/AdminService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SecureBinding">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="transportSecurityConfiguration">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>