<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDomainLoggingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dlservice:6970/DomainLoggingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDomainLoggingService"
                contract="DomainLoggingService.IDomainLoggingService" name="BasicHttpBinding_IDomainLoggingService" />
        </client>
    </system.serviceModel>
</configuration>